[Unit]
Description=Timer for a wallpaper change
PartOf=graphical-session.target

[Timer]
OnStartupSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=xsession.target
