[Unit]
Description=Remote desktop service (VNC)
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'sleep 3; while ! pgrep Xorg; do sleep 3; done'
# ExecStart=/usr/bin/x0vncserver -PAMService=login -PlainUsers=${USER} -localhost -rfbport=50114 -AlwaysShared
ExecStart=/usr/bin/x0vncserver -rfbauth=%h/.vnc/passwd -localhost -rfbport=50114 -AlwaysShared

[Install]
WantedBy=default.target
