[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:fakeGenuis/doom.git
	branch = master
[submodule ".config/hypr"]
	path = .config/hypr
	url = git@github.com:fakeGenuis/hyprland.git
